In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('vgsales.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [34]:
# Remove missing values
df = df.dropna(subset=['Year'])

In [10]:
# Convert year to integer
df['Year'] = df['Year'].astype(int)

In [22]:
# Create a new column labeling records as 'pre-2005' or 'post-2005'
df["Sales_Period"] = "pre-2005"
df.loc[df["Year"] >= 2005, "Sales_Period"] = "post-2005"

In [28]:
# Calculate average global sales before and after 2005
avg_sales_pre_2005 = df[df["Sales_Period"] == "pre-2005"]["Global_Sales"].mean()
avg_sales_post_2005 = df[df["Sales_Period"] == "post-2005"]["Global_Sales"].mean()

In [30]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Sales_Period
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,post-2005
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,pre-2005
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,post-2005
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,post-2005
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,pre-2005

In [26]:
# Print the results
print("Average Global Sales before 2005:", avg_sales_pre_2005)
print("Average Global Sales after 2005:", avg_sales_post_2005)

Average Global Sales before 2005: 0.6498839907192575
Average Global Sales after 2005: 0.4893913043478261

In [ ]:
#Average of Global Sales was higher before 2005.